body {
    display: flex;
    width: 1440px;
    height: 79vh;
    padding: 90px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(234deg, #7758D1 1.57%, #F7CBFD 71.57%);
    font-family: 'Montserrat';

}

aside {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1280px;
    height: 844px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #7758D1;
    overflow: hidden;
}

.categories {
    display: flex;
    width: 244px;
    height: 844px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: rgba(44, 47, 72, 0.50);
}

.sidebar {
    width: 76px;
    height: 844px;
    flex-shrink: 0;
    background: rgba(29, 32, 62, 0.30);
    backdrop-filter: blur(10px);
}

.maincontainer {
    width: 716px;
    height: 844px;
    flex-shrink: 0;
    background: #1D203E;
}

.inspection {
    width: 244px;
    height: 844px;
}

.searchbar {
    width: 716px;
    height: 44px;
    flex-shrink: 0;
    background: #2C2F48;
    margin: -10px 0px 0px 0px;
    padding: 0;
}

.searchpool {
    width: 442px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.30) 0%, rgba(28, 27, 51, 0.30) 100%);
    margin: 10px 137px 10px 137px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchpool p {
    margin: 0;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}